<!DOCTYPE html>
<html>
<head>
  <title>Ace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="site-header" role="banner">
      <%= render :partial => 'admin/shared/header' %>
    </header>

    <div class="flash-messages">
      <%= render 'shared/flash_messages' %>
    </div>

    <main role="main" class="container">
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; <%%= Date.today.year %> <%%= Config.site_name %></p>
      </div>
    </footer>

</body>
</html>
